@font-face {
  font-family: tasareg;
  src: url(fonts/tasa-reg.ttf);
}

@font-face {
  font-family: tasamed;
  src: url(fonts/tasa-med.ttf);
}

@font-face {
  font-family: tasabold;
  src: url(fonts/tasa-bold.ttf);
}


@font-face {
  font-family: miniver;
  src: url(fonts/miniver.ttf);
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "tasareg";
  color: #222;
  background-color: #FAFAFA;
  line-height: 1.7;
  padding-top: 80px; /* height of navbar to offset overlap */
}

.body-wrapper {
  padding: 0 240px; /* 220px left & right padding */
}

.global-wrapper{
    max-width: 1440px;
}


/* NAVIGATION BAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(250, 250, 250, 0.6);
  backdrop-filter: blur(10px);
  padding: 0 240px; 
  z-index: 1000;
}

.navbar-container{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: 1px solid #e0e0e0;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 4rem; /* space between links and LinkedIn button */
}


.logo {
  font-family: "miniver";
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links a {
  font-family: "tasamed";
  text-decoration: none;
  color: #111;
  font-weight: 500;
}

.nav-links a:hover {
  color: #CE7B91;
}

.linkedin-btn, .back-btn {
  background: #000;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
}

.linkedin-btn:hover, .back-btn:hover{
  background: #333;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #111;
  border-radius: 3px;
  transition: 0.3s;
}
.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 0;
  width: 100%;
  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(8px);
  padding: 1.5rem 0;
  text-align: center;
  gap: 1.2rem;
  border-bottom: 1px solid #e5e5e5;
  z-index: 999;
}

.mobile-menu a {
  font-family: "tasamed";
  text-decoration: none;
  color: #111;
  font-size: 1.1rem;
}

.mobile-menu a:hover {
  color: #CE7B91;
}


/* ABOUT SECTION */
.about {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 8rem 0;
  gap: 2rem;                   
}


.about-content {
  display: flex;
  max-width: 1440px;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.about-text {
  flex: 1 1 50%;
  text-align: justify;
}

.about-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #111;
}

.about-text p {
  margin-bottom: 1rem;
  color: #444;
  max-width: 600px;
  font-size: 1rem;
}

.contact-box {
  background: rgba(243, 190, 206, 0.3);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  display: inline-block;
  line-height: 0.5;
}

.contact-box p {
  font-family: "tasamed";
  color: #CE7B91;
  font-size: 0.9rem;
}

.email {
  color: #494949;
  font-weight: 500;
}

/* IMAGE */
.about-img {
  flex: 1 1 40%;
  display: flex;
  justify-content: right;
}

.about-img img {
  width: 280px;
  max-width: 280px;
  border-radius: 25px;
  object-fit: cover;
}

/* EXPERTISE SECTION */
.expertise, .certification, .experience, .footer, .projects {
  display: block;
  padding: 5rem 0;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
}

.section-title {
  font-family: "miniver";
  font-size: 2.5rem;
  color: #cc7e90;
  margin-bottom: 0.5rem;
}

.divider {
  border: none;
  border-top: 1px solid #ddd;
  margin-bottom: 3rem;
}

.expertise-container {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  justify-content: center;
}

.expertise-card {
  background-color: #f7ebee;
  border: 0.5px solid #f2cad3a6;
  border-radius: 15px;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.expertise-card:hover {
  transform: translateY(-2.5px);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.075);
}

.expertise-number {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.expertise-content h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.expertise-content p {
  font-size: 0.95rem;
  color: #444;
  line-height: 1.6;
}


/* EXPERIENCE SECTION */
.experience {
  display: block;
  padding: 5rem 0;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
}

.experience-container {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  justify-content: center;
}

.experience-icon-container {
  display: flex;
  padding-bottom: 12px;
}

.experience-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;           
}

.experience-icon h2{
  font-family: "tasamed";
  font-weight: 500;
  font-size: 1.6rem;
}

.experience-icon i{
  font-size: 20px;
  color: #CE7B91;
  background-color: #f8e1e6;
  border-radius: 50px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.experience-card {
  background-color: #ffffff;
  border: 0.7px solid #e8e8e8df;
  border-radius: 15px;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-card:hover {
  border: 0.7px solid #d8d8d8df;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.075);
}

.experience-content {
  display: flex;
  gap: 1.5rem;               
  padding-left: 1.5rem;       
  border-left: 3px solid #ce7b912c; 
  transition: transform 0.3s ease;
  margin-top: 20px;
}

.experience-content:hover {
  transform: translateX(4px); 
  border-left: 3px solid #ce7b9160; 
}

.experience-content .experience-year{
  font-size: 1rem;
  font-family: "tasamed";
  color: #444;
}

.experience-details .position{
  font-family: "tasabold";
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(49, 49, 49)
}

.experience-details .school{
  font-size: 1rem;
  font-style: italic;
  color: rgb(139, 139, 139)
}

.experience-details .description{
  padding-top: 10px;
}


.experience-details p{
  font-weight: 500;
  color: #626262
}

.category {
    margin-bottom: 20px;
  }

.skill-content-container img{
  height: 42px;
  width: 42px;
  padding: 0.3rem;
}

.skill-header{    
  padding-left: 1rem;  
  border-left: 3px solid #ce7b912c; 
}

.skill-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;
}

.skill-list {
  padding-left: 1rem;
  padding: 0.5rem; 
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap; 
  gap: 0.6rem;
}

.skill-list .skill{
  font-size: 0.8rem;
  font-family: "tasamed";
  width: 55px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  padding: 0.4rem;
  background-color: #f8f8f8ca;
  transition: transform 0.3s ease;
}

.skill-list .skill:hover{
  transform: translateX(4px); 
}

.certification-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap:0.6rem;
}

.certification-content img{
  width: 80px;
  height: 80px;
}

.certification-content .certification-text{
  display: flex;
  flex-direction: column;
}

.certification-header{
  font-family: "tasabold";
  font-size: 1rem;
}

.certification-text{
  font-size: 0.8rem;
}
.footer .copyright{
  text-align: center;
}
.footer-container {
  margin: 0 auto;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2rem;
}

.footer-left {
  flex: 1;
  min-width: 250px;
  max-width: 530px;
}

.footer-left .footer-header {
  font-family: "tasabold";
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -1px;
  color: #1a1a1a;
  margin-bottom: 1.5rem;
}

.footer-contact p {
  margin-bottom: 1rem;
  margin: 0.1rem 0;
  color: #696969;
  font-size: 0.95rem;
}

.footer-contact a {
  color: #000;
  text-decoration: underline;
  font-family: "tasamed";
  font-size: 1.1rem;
}
.footer-right {
  flex: 0 0 auto;
  text-align: left; 
  justify-content: center;
  min-width: 200px;
}

.social-title {
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #555;
  margin-bottom: 0.8rem;
  letter-spacing: 1px;
}

.social-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social-icon {
  width: 38px;
  height: 38px;
  border: 1.5px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background-color: #000;
  color: #fff;
  transform: translateY(-3px);
}

/* PROJECT SECTION */
.projects .section-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.project-card {
  width: 100%;
  background: white;
  padding-top: 18px;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  text-align: center;
  margin-bottom: 50px;
}

.project-year {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

.project-title {
  width: 75%;
  text-align: center;
  justify-content: center;
  font-size: 1.8rem;
  margin: 1rem 0 0.5rem;
  line-height: 1.3;
  color: #111;
}
.project-title-container{
  text-align: center;
  display: flex;
  justify-content: center;
}
.project-link {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 1rem;
  text-decoration: underline;
  color: black;
}


.project-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: hidden;
  padding: 25px 0;
}
.project-images img {
  width: 20%;            
  height: auto;
  object-fit: contain;    
  transition: transform 0.3s ease;
}

.project-images img:hover, .project-images img:hover {
  transform: scale(1.05); 
  z-index: 1; 
}

.siayanrock-project{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: hidden;
  padding: 25px 0;
}

.siayanrock-project img{
  width: 65%;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .body-wrapper,
  .navbar {
    padding: 0 30px;
  }

  .navbar-container {
    flex-direction: row;
    gap: 1rem;
    text-align: center;
  }

  .nav-links {
    gap: 1.2rem;
  }
  .nav-links,
  .linkedin-btn {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .about {
    padding: 4rem 0;
  }

  .about-content {
    flex-direction:column-reverse;
    text-align: center;
  }
  .about-img {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .about-img img {
    width: 100% !important;
    max-width: 100% !important;   /* THIS IS THE MISSING PART */
    height: 100% !important;
    max-height: 500px;
    object-fit: cover;
    border-radius: 20px;
  }

  .expertise-container,
  .experience-container {
    flex-direction: column;
  }

  .project-title {
    font-size: 1.4rem;
  }

  .project-images img {
    width: 40%;
  }
}
